#section_button{
    margin-top: 4vh;
    margin-bottom: 10vh;
}

.about_button{
    margin-right: 4vw;
    border: none;
    background-color: #cfcfdc00;
    transition: 0.5s ease;

}

.about_button:hover{
    color: rgb(100, 100, 100);
}

.active1{
    transform: translateY(-2vh);
}

.active1::after{
    content: '';
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    background-color: #E07A5F;
    bottom: -5px;
    left: 0;
}

#vertical_line1{
    opacity: 1;
    width: 2px;
}

#about_education_text1{
    text-align: right;
    padding-bottom: 10vh;
    margin-bottom: 0;
}

#about_education_text2{
    margin-bottom: 0;
}
