#about {

    height: 110vh;
    /*background: #002c7e;*/
    background: linear-gradient(to bottom,
            #F4F1DE,
            rgba(61, 64, 91, 0.47),
            rgba(61, 64, 91, 0.6),
            rgba(61, 64, 91, 0.47),
            #F4F1DE);

}

#aboutimg {

    align-self: center;
    float: right;
    height: 70vh;
    border-radius: 50%;

}

@media screen and (max-width: 1300px) {
    #aboutimg {
        display: none;
    }
    #about_col2{
        width: 100%;
    }
}

@media screen and (max-width: 1800px) {
    #aboutimg {
        height: 50vh;
    }
}

@media screen and (max-width: 780px) {
    #about {
        height: 140vh;
    }
}


#aboutContainer1 {

    display: flex;
    flex-flow: wrap;
    position: relative;
    height: 100%;
    justify-content: flex-end;

}

#about_row1 {
    height: 100%;
    width: 100%;
    position: relative;
    right: 5vw
}

#about_imageDiv {

    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;

}

#background_circle {
    position: relative;
    left: 25vw;
    /*background-color: rgb(240, 248, 255);*/
    background: linear-gradient(to bottom,
            #F4F1DE,
            rgb(240, 248, 255, 0.145),
            rgb(240, 248, 255, 0.145),
            rgba(240, 248, 255, 0.145),
            #F4F1DE);
    border-radius: 50%;
    width: 160vh;
    height: 160vh;
    right: 0;
    align-self: center;

}

#about_col2 {
    padding-bottom: 40vh;
    padding-top: 10vh;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}


