#home {
    display: flex;
    max-height: fit-content;
    min-height: 100vh;
    background: #F4F1DE;
    position: relative;

}

#homeimg {
    height: 65vh;
    padding-right: 10vw;
    margin-left: 10vw;
    z-index: 3;
    position: absolute;
    bottom: 10%;
    right: 0;
}

#homeContainer1 {

    display: flex;
    flex-flow: wrap;
    position: absolute;
    bottom: 0;
    top: 0;
    padding-right: 0;

}

#home_row1 {
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 100%;
}


#name_title {
    font-size: 80px;
    margin-bottom: 20px;
    color: #101841;
}

#sub_title {
    font-size: 25px;
    margin-bottom: 0;
    color: #101841;
}


#vertical_line {
    width: 4px;
    opacity: 1;
    margin-right: 1vw;
    color: #101841;
}

#home_text {
    font-size: 25px;
    font-weight: 400;
    color: #101841;
}

#custom-outline {
    border-width: 4px;
    font-size: larger;
    color: #101841;
    border-color: #101841;
}


@media screen and (max-width: 1300px) {
    #box2 {
        width: 95vw;
        height: 50vh;
    }

    #homeimg {
        display: none;
    }

    #badge {
        bottom: 20vh !important;
        right: 10vw !important;
    }
}


#box1 {
    z-index: 2;
    background-color: #E07A5F;
    position: absolute;
    top: 20;
    left: 0;
    max-width: 70vw;
    display: flex;
    padding-left: 1vw;
    margin-top: 1vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}


#box2 {
    height: 80vh;
    width: 50vw;
    z-index: 1;
    background: linear-gradient(to bottom,
            #3D405B 80%,
            #F4F1DE 100%);
    position: absolute;
    bottom: 0;
    right: 0;
}

#badge {
    z-index: 4;
    position: absolute;
    bottom: 20vh;
    right: 80vw;
    border-width: 0;
    height: 25vh;
}