#projects{
    background: #e0e0e0;
}

#projectsContainer1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.single_project{
    background: #181212;
    display: flex;
    flex-direction: column;
    margin: 1vw;
    width: 500px;
    align-items: center;
    border-radius: 2rem;
    padding: 2vh 1vw;
}
@media screen and (max-width: 768px) {
    .single_project {
        width: 95vw;
        margin: 1vw; /* Full width on smaller screens */
    }
}
.project_text{
    color: #181212;
    display: flex;
    align-items:flex-end;
    flex-direction: column;
    background: #e0e0e0;
    border-radius: 2rem;
    padding: 2vh 2vw;
    font-weight: 500;
}
#img1{
    width: 20vw;
    border-radius: 2rem;
}
#img2{
    width: 20vw;
    border-radius: 2rem;
    margin-bottom: 2vh;
}
#img4{
    width: 15vw;
    border-radius: 2rem;
    margin-bottom: 2vh;
}

.layer1{
    background: linear-gradient(rgba(0, 0, 0, 0.6), #5f0606);
    transition: background-color 0.5s ease;
}

.layer1:hover{
    background-color: rgba(108, 54, 255, 0.808);
}

#with_arrow1::before{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 12px solid black; /* change the color and size as needed */
    margin-right: 10px; /* change the margin as needed */

}

#with_arrow1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

